body {
  margin: -20px 0 50px 0;
  background-image: url('../src/assets/bg.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-color: rgb(77, 77, 77);
  width: 100vw;
}

/* Updated h1 style */
h1 {
  color: white;
  font-size: 2.5rem;
  margin: 20px auto 0 auto; /* Auto left & right centers it */
  background-color: rgb(46, 47, 48);
  width: max-content;
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
}

/* Responsive font size for mobile */
@media screen and (max-width: 600px) {
  h1 {
    font-size: 20px !important;
  }
}